{{> Admin/Menu active='article'}}

<div class="container mt-5">
    <h1 class="custom-title">Quản Lý Bài Viết</h1>
</div>

<form method="get">
    <div class="categorySelection" style="justify-content: flex-start;">
        <h4 style="padding-top: 5px;">Thêm Bài Viết</h4>
        <button formaction="/admin/article/new" type="submit" class="btn actionBtn scale"
            style="margin-left: 30px;width: 120px;"><i class="bi bi-file-earmark-plus-fill"
                style="margin-right: 5px;"></i> Thêm</button>
    </div>
</form>

<h4>Danh Sách Bài Viết</h4>
<form method="get" action="/admin/articles/">
    <div class="categorySelection">
        <label for="roleSelect" class="form-label" style="padding-top: 8px; width: 200px;">
            Chuyên Mục
        </label>
        <select name="category" class="form-select" style="height: 40px;" id="roleSelect">
            <option value="-1" {{#if (eq ../selectedCategory -1 ) }}selected{{/if }}>Tất Cả</option>
            {{#each Categories}}
            <option value="{{id}}" {{#if (eq ../selectedCategory id ) }}selected{{/if }}>{{name}}</option>
            {{/each}}
        </select>
        <button type="submit" class="btn actionBtn scale" style="margin-left: 30px;width: 120px;">
            <i class="bi bi-funnel-fill" style="margin-right: 10px;"></i>Lọc</button>
    </div>
</form>

<table id="myTable" class="display">
    <thead>
        <tr>
            <th>Tiêu Đề</th>
            <th>Tác Giả</th>
            <th>Ngày Viết</th>
            <th>Nhãn</th>
            <th>Chuyên Mục</th>
            <th>Thao Tác</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{title}}</td>
            <td>{{writer}}</td>
            <td>{{date}}</td>
            <td>{{tag}}</td>
            <td>{{category}}</td>
            <td>
                <form method="get" style="margin: 0px; display: inline">
                    <button name="" class="btn actionBtn editBtn scale" formaction="/article/edit/{{id}}" type="submit">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </form>
                <form method="post" style="margin: 0px; display: inline">
                    <input name="id" type="text" value="{{id}}" style="display: none;">
                    <button name="" class="btn actionBtn delBtn scale" formaction="/article/delete" type="submit">
                        <i class="bi bi-person-x-fill"></i>
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>