{{> Admin/Menu active='user'}}

<div class="container mt-5">
    <h1 class="custom-title">Quản Lý Người Dùng</h1>
</div>

<div class="categorySelection" style="justify-content: flex-start;">
    <h4 style="padding-top: 5px;">Thêm Người Dùng</h4>
    <button type="button" class="btn actionBtn scale" style="margin-left: 30px;width: 120px;" data-bs-toggle="modal"
        data-bs-target="#modal">
        <i class="bi bi-person-fill-add" style="margin-right: 5px;"></i> Thêm
    </button>
</div>

{{> Admin/Modal/AddUser}}

<h4>Danh Sách Người Dùng</h4>
<form method="get" action="/admin/users">
    <div class="categorySelection">
        <label for="roleSelect2" class="form-label" style="padding-top: 8px; width: 200px;">
            Vai Trò
        </label>
        <select name="role" class="form-select" style="height: 40px;" id="roleSelect2">
            <option value="all" {{#if (eq selectedRole 'all' ) }}selected{{/if}}>
                Tất Cả
            </option>
            <option value="Admin" {{#if (eq selectedRole 'Admin' ) }}selected{{/if}}>
                Admin
            </option>
            <option value="User" {{#if (eq selectedRole 'User' ) }}selected{{/if}}>
                User
            </option>
            <option value="Writer" {{#if (eq selectedRole 'Writer' ) }}selected{{/if}}>
                Writer
            </option>
            <option value="Editor" {{#if (eq selectedRole 'Editor' ) }}selected{{/if}}>
                Editor
            </option>
        </select>
        <button type="submit" class="btn actionBtn scale" style="margin-left: 30px;width: 120px;">
            <i class="bi bi-funnel-fill" style="margin-right: 10px;"></i>Lọc</button>
    </div>
</form>
<table id="myTable" class="display">
    <thead>
        <tr>
            <th>Email</th>
            <th>Họ Tên</th>
            <th>Vai Trò</th>
            <th>Ngày Sinh</th>
            <th>Thao Tác</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{email}}</td>
            <td>{{name}}</td>
            <td>{{role}}</td>
            <td>{{dateOfBirth}}</td>
            <td>
                <button type="button" class="btn actionBtn editBtn scale" data-bs-toggle="modal"
                    data-bs-target="#modal_{{id}}">
                    <i class="bi bi-pencil-square"></i>
                </button>
                <form method="post" style="margin: 0px; display: inline">
                    <input name="id" type="text" value="{{id}}" style="display: none;">
                    <button name="" class="btn actionBtn delBtn scale" formaction="/admin/user/delete" type="submit">
                        <i class="bi bi-person-x-fill"></i>
                    </button>
                </form>
                {{#if (eq role "User")}}
                    {{#if upPremium}}
                        <form method="post" style="margin: 0px; display: inline">
                            <input name="id" type="text" value="{{id}}" style="display: none;">
                            <button name="" class="btn actionBtn scale" formaction="/admin/add-premium" type="submit">
                                <i class="bi bi-arrow-up-circle"></i>
                            </button>
                        </form>
                    {{/if}}
                {{/if}}
                {{> Admin/Modal/EditUser name=name email=email role=role dateOfBirth=dateOfBirth id=id Categories=../Categories editorCat = categories penName=penName}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{> Component/Paging page_items=this.page_items previousLink=this.previousLink nextLink=this.nextLink}}