<div class="mt-5">
  <div
    class="title-search-box d-flex align-items-center justify-content-between pb-4"
  >
    <div class="fs-2 fw-bold">Quên Mật khẩu</div>
  </div>
  <form class="pass" action="http://localhost:3000/user/forgot-password" method="post">
    <div class="mb-3 mt-4">

      <label for="otp" class="form-label fw-bold">OTP</label>
      <div class="input-group">
        <input type="text" class="form-control" id="otp" name="otp" />
        <button
          type="button"
          class="btn btn-primary fw-bold"
          aria-describedby="helpId"
        >Gửi OTP</button>
      </div>
      {{#if errorOTP}}
        <div class="alert alert-danger mt-2" role="alert">{{errorOTP}}</div>
      {{else}}
        <small id="helpId" class="form-text text-muted">Gửi lại sau 60s</small>
      {{/if}}
    </div>
    <div class="mb-3 mt-4">
      <label for="newPassword" class="form-label fw-bold">Mật khẩu mới</label>
      <input
        type="password"
        class="form-control"
        id="newPassword"
        name="newPassword"
      />
    </div>
    <div class="mb-3 mt-4">
      <label for="newPassword_re" class="form-label fw-bold">Nhập lại mật khẩu
        mới</label>
      <input type="password" class="form-control" id="newPassword_re" />
    </div>
    <div class="button mt-4">
      <button
        type="submit"
        class="btn btn-primary changePass p-0 rounded fw-bold me-3"
      >Đổi mật khẩu</button>
    </div>
    <div>
        <input type="text" class="d-none" id="otpCheck" name="otpCheck" value="{{otp.OTP}}" />
        <input type="text" class="d-none" id="email" name="email" value="{{otp.email}}" />
        <input type="text" class="d-none" id="expires" name="expires" value="{{otp.OTPExpires}}" />
    </div>
  </form>
</div>