<style>
    .multiline-ellipsis-title {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .multiline-ellipsis-abstract {
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .multiline-ellipsis-category {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<a name="" id="" class="btn btn1" href="/writer/" role="button">Quay về</a>
<div class="container my-5 writer-view-articles">
    {{#if (eq state "Published")}}
    <h2><span>Bài viết đã xuất bản</span></h2>
    {{else if (eq state "Draft")}}
    <h2><span>Bài viết chưa được duyệt</span></h2>
    {{else if (eq state "Rejected")}}
    <h2><span>Bài viết bị từ chối</span></h2>
    {{else if (eq state "Approved")}}
    <h2><span>Bài viết đã được duyệt &amp; chờ xuất bản</span></h2>
    {{else}}
    <h2><span>Tất cả</span></h2>
    {{/if}}
    <div class="row g-4">
        {{#each articles}}
        <div class="col-12 col-md-6">
            <a style="text-decoration: none; color: unset" href="/writer/edit/{{id}}"
                class="article d-flex align-items-start position-relative">
                <button class="btn btn-dark rounded-circle position-absolute top-0 start-0 m-2 writer-edit-icon"
                    style="width: 40px; height: 40px">
                    {{#if (eq state "Draft")}}
                    <i class="bi bi-pencil-square"></i>
                    {{/if}}
                    {{#if (eq state "Rejected")}}
                    <i class="bi bi-ban"></i>
                    {{/if}}
                    {{#if (eq state "Approved")}}
                    <i class="bi bi-hourglass-split"></i>
                    {{/if}}
                    {{#if (eq state "Published")}}
                    <i class="bi bi-check2-circle"></i>
                    {{/if}}
                </button>
                {{#if (eq state "Rejected")}}
                <button class="btn btn-dark rounded-circle position-absolute start-0 m-2 writer-edit-icon"
                    style="width: 40px; height: 40px; top: 60px" data-bs-toggle="modal"
                    data-bs-target="#writer-decline-modal-{{id}}" onclick="return false;">
                    <i class="bi bi-eye-fill"></i>
                </button>
                {{/if}}
                <div class="img-article w-50">
                    {{#if (eq this.cover 'null')}}
                    <img src="/null.jpg" alt="Logo" class="img-fluid" />
                    {{else}}
                    <img src="{{this.cover}}" alt="Logo" class="img-fluid" />
                    {{/if}}
                </div>
                <div class="sum-article p-3 w-50 h-100">
                    <h2 style="height: 80px;" class="multiline-ellipsis-title">{{this.title}}</h2>
                    <hr style="margin: 0px;">
                    <p style="height: 145px; padding-top: 5px;" class="multiline-ellipsis-abstract">
                        {{this.abstract}}</p>
                </div>
            </a>
            {{#if (eq state "Rejected")}}
            <div class="modal fade writer-decline-modal" id="writer-decline-modal-{{id}}" tabindex="-1"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 text-center w-100">
                                <span>Lý do từ chối bài viết</span>
                            </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div style="margin-top: 20px"
                            class="modal-body pt-1 reasons mx-5 mb-5 d-flex justify-content-center flex-column ">
                            <pre style="margin-bottom: 0px; margin-top: 10px;">{{reason}}</pre>
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}
            <div class="publish-time d-flex align-items-center justify-content-between p-2">
                <p class="mb-1 text-center text-muted multiline-ellipsis-category">
                    Ngày Đăng: {{this.datePosted}}
                </p>
                <div class="vertical-line mx-3"></div>
                <p class="mb-0 category multiline-ellipsis-category">{{this.category}}</p>
                <div class="vertical-line mx-3"></div>
                <p class="mb-0 subcategory multiline-ellipsis-category">{{this.subcategory}}</p>
            </div>
        </div>
        {{/each}}
    </div>
    {{> Component/Paging page_items=this.page_items
    previousLink=this.previousLink nextLink=this.nextLink}}
</div>