<a name="" id="" class="btn btn1" href="/writer/" role="button">Quay về</a>
<div class="container my-5 writer-view-articles">
  {{#if (eq state "Published")}}
  <h2><span>Bài viết đã xuất bản</span></h2>
  {{else if (eq state "Draft")}}
  <h2><span>Bài viết chưa được duyệt</span></h2>
  {{else if (eq state "Rejected")}}
  <h2><span>Bài viết bị từ chối</span></h2>
  {{else if (eq state "Approved")}}
  <h2><span>Bài viết đã được duyệt &amp; chờ xuất bản</span></h2>
  {{else}}
  <h2><span>Tất cả</span></h2>
  {{/if}}
  <div class="row g-4">
    {{#each articles}}
    <div class="col-12 col-md-6">
      <a style="text-decoration: none; color:unset;" href="/writer/edit/{{id}}"
        class="article d-flex align-items-start position-relative">
        {{#if (eq state "Draft")}}
        <button class="btn btn-dark rounded-circle position-absolute top-0 start-0 m-2"
          style="width: 40px; height: 40px;">
          <i class="bi bi-pencil-square"></i>
        </button>
        {{/if}}
        {{#if (eq state "Rejected")}}
        <button class="btn btn-dark rounded-circle position-absolute top-0 start-0 m-2"
          style="width: 40px; height: 40px;">
          <i class="bi bi-pencil-square"></i>
        </button>
        <button class="btn btn-dark rounded-circle position-absolute start-0 m-2"
          style="width: 40px; height: 40px; top: 60px;" data-bs-toggle="modal" data-bs-target="#writer-decline-modal">
          <i class="bi bi-eye-fill"></i>
        </button>
        {{/if}}
        <div class="img-article w-50">
          <img src={{this.cover}} alt="Logo" class="img-fluid">
        </div>
        <div class="sum-article p-3 w-50 h-100">
          <h2>{{this.title}}</h2>
          <p>{{this.abstract}}</p>
        </div>
      </a>
      <div class="publish-time d-flex align-items-center justify-content-between p-2">
        {{#if (eq state "Published")}}
        <p class="mb-1 text-center text-muted accepted-publish-date">Ngày xuất bản:
          {{this.datePublished}}</p>
        {{/if}}
        {{#if (eq state "Approved")}}
        <p class="mb-1 text-center text-muted accepted-publish-date">Ngày xuất bản:
          {{this.datePublished}}</p>
        {{/if}}
        <p class="mb-1 text-center text-muted">Ngày Đăng:
          {{this.datePosted}}</p>
        <div class="vertical-line mx-3"></div>
        <p class="mb-0 category">{{this.category}}</p>
        <div class="vertical-line mx-3"></div>
        <p class="mb-0 subcategory">{{this.subcategory}}</p>
      </div>
    </div>
    {{/each}}
  </div>
  {{!-- <nav aria-label="Page navigation" class="mt-4">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav> --}}
  {{> Component/Paging}}
</div>

<div class="modal fade" id="writer-decline-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-center w-100"><span>Lý do từ chối bài viết</span></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pt-1 reasons mx-5 mb-5">
        <ul>
          <li class="mb-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi sequi, quod accusamus
            consequatur sed quis quibusdam quaerat nisi? </li>
          <li class="mb-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi sequi, quod accusamus
            consequatur sed quis quibusdam quaerat nisi? </li>
        </ul>
      </div>
    </div>
  </div>
</div>