<div class="row d-flex justify-content-center">
    <div class="wrapper col col-lg-12 col-md-12 col-sm-12 mt-4">
        <h1 class="editor-title">Bài viết cần duyệt</h1>
        <div class="editor-container mt-4">
            <form method="get" action="/editor/{{editorID}}/articles/" class="mb-4">
                <div class="categorySelection">
                    <label
                        for="roleSelect"
                        class="form-label"
                        style="padding-top: 8px; width: 200px"
                    >
                        Chuyên Mục
                    </label>
                    <select
                        name="category"
                        class="form-select"
                        style="height: 40px"
                        id="roleSelect"
                    >
                        <option value="-1" {{#if (eq ../selectedCategory -1 ) }}selected{{/if }}>Tất Cả</option>
                        {{#each categories}}
                        <option value="{{this.id}}" {{#if (eq ../selectedCategory id ) }}selected{{/if }}>{{this.name}}</option>
                        {{/each}}
                    </select>
                    <button
                        type="submit"
                        class="btn actionBtn scale"
                        style="margin-left: 30px; width: 120px"
                    >
                        <i
                            class="bi bi-funnel-fill"
                            style="margin-right: 10px"
                        ></i
                        >Lọc
                    </button>
                </div>
            </form>
            {{!--
            <div class="editor-container-body pt-2">
                <div
                    class="editor-container-body-heading d-flex align-items-center justify-content-between"
                >
                    <p class="col col-4">Tiêu đề</p>
                    <p class="col col-2">Tác giả</p>
                    <p class="col col-2">Ngày viết</p>
                    <p class="col col-2">Nhãn</p>
                    <p class="col col-2">Chuyên mục</p>
                </div>
                <div class="editor-container-body-content">
                    {{#each this.articles}}
                    <div
                        class="editor-container-body-content-item d-flex align-items-center justify-content-between"
                    >
                        <p class="col col-4">{{this.title}}</p>
                        <p class="col col-2">{{this.author}}</p>
                        <p class="col col-2">{{this.date}}</p>
                        <p class="col col-2">{{this.tag}}</p>
                        <p class="col col-2">{{this.category}}</p>
                    </div>
                    {{/each}}
                </div>
            </div>
            --}}
            <table id="editorPendingTable" class="display w-100">
                <thead>
                    <tr>
                        <th>Tiêu Đề</th>
                        <th>Tác Giả</th>
                        <th>Ngày Viết</th>
                        <th>Chuyên Mục</th>
                        <th>Chuyên Mục Con</th>
                    </tr>
                </thead>
                    <tbody>
                        {{#each this.articles}}
                        <tr>
                            <td><a href="/editor/{{../editorID}}/articles/{{this.id}}" class="row-link">{{this.title}}</a></td>
                            <td><a href="/editor/{{../editorID}}/articles/{{this.id}}" class="row-link">{{this.author}}</a></td>
                            <td><a href="/editor/{{../editorID}}/articles/{{this.id}}" class="row-link">{{this.date}}</a></td>
                            <td><a href="/editor/{{../editorID}}/articles/{{this.id}}" class="row-link">{{this.category}}</a></td>
                            <td><a href="/editor/{{../editorID}}/articles/{{this.id}}" class="row-link">{{this.subcategory}}</a></td>
                        </tr>
                        {{/each}}
                    </tbody>
            </table>
        </div>
    </div>
</div>
