<div class="container d-flex align-items-center justify-content-between mt-4 editor-option">
    <div class="d-flex align-items-center">
        <i class="bi bi-reply-fill me-2"></i>
        <p class="mb-0">Duyệt bài viết</p>
    </div>
    <div class="d-flex">
        <button type="button" class="btn btn-danger me-2 editor-decline flex-grow-1" data-bs-toggle="modal"
            data-bs-target="#editor-decline-modal">
            Từ chối
        </button>
        <button type="button" class="btn btn-primary editor-accept flex-grow-1" data-bs-toggle="modal"
            data-bs-target="#editor-adjust-modal">
            Phê duyệt
        </button>
    </div>
</div>
<div class="container editor-article">
    <div class="mt-1 mb-2">
        <span class="text-muted">{{article.date}}</span>
    </div>
    <p class="mb-2">
        <span class="fw-bold">Tác giả:</span>
        <span>{{article.author}}</span>
    </p>
    <p class="mb-2">
        <span class="fw-bold">Tiêu đề:</span>
        <span>{{article.title}}</span>
    </p>
    <p class="mb-2">
        <span class="fw-bold">Category:</span>
        <span class="text-primary"><span class="text-muted">{{article.category}} / </span>{{article.subcategory}}</span>
    </p>
    <div class="mb-2 d-flex align-items-center">
        <span class="fw-bold me-2">Tags:</span>
        <div class="d-flex flex-wrap">
            {{#each article.tags}}
            <span class="badge border border-primary text-primary me-2">{{name}}</span>
            {{/each}}
        </div>
    </div>
</div>
<div class="container editor-content-view mt-3">
    <div class="text-center mb-3">
        <img src="{{article.cover}}" alt="Logo" class="img-fluid" style="max-width: 750px" />
    </div>
    <hr />
    <div class="text-content">
        <div class="paragraph my-3">{{{article.content}}}</div>
    </div>
</div>

<form action="/editor/articles/{{articleId}}/reject" method="post" class="modal fade" id="editor-decline-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-center w-100">
                    <span>Lý do từ chối bài viết</span>
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-1">
                <p class="mb-2 fw-bold">Phản hồi:</p>
                <textarea id="bulletTextarea" name="reason" class="form-control" rows="10" placeholder="Bài viết bị từ chối vì..."></textarea>
            </div>
            <div class="modal-footer">
                <div class="d-flex">
                    <button type="button" class="btn editor-modal-return flex-grow-1 me-2" data-bs-dismiss="modal">
                        Quay về
                    </button>
                    <button type="submit" class="btn editor-modal-send flex-grow-1">
                        Gửi
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<form action="/editor/articles/{{articleId}}/approve" method="post" class="modal fade" id="editor-adjust-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-center w-100">
                    <span>Hiệu chỉnh bài viết</span>
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-1">
                <div class="mb-2">
                    <div class="row">
                        <div class="col-6">
                            <label for="editor-category" class="form-label fw-bold">Chuyên mục</label>
                            <input type="text" class="form-control" id="editor-category" name="category" placeholder="{{article.category}}" disabled>
                        </div>
                        <div class="col-6">
                            <label for="editor-subcategory" class="form-label fw-bold">Chuyên mục con</label>
                            <select class="form-control" id="editor-subcategory" name="subcategory">
                                {{#each subcategories}}
                                {{#if (eq this.id ../article.subcategoryId)}}
                                   <option value="{{this.id}}" selected>{{this.name}}</option>
                                {{else}}
                                      <option value="{{this.id}}">{{this.name}}</option>
                                {{/if}}
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                {{! Tags }}
                <div class="mb-2">
                    <label for="editor-tags" class="form-label fw-bold">Tags</label>
                    <div class="tagScrollView d-flex flex-wrap align-items-center" id="tag-container">
                        {{#each article.tags}}
                        <div
                            class="badge border border-primary text-primary me-2 mb-1 d-flex justify-content-between align-items-center">
                            <p data-id="{{this.id}}">{{this.name}}</p>
                            <button type="button" class="btn btn-sm btn-link text-danger p-0 delete-tag-button">
                                <i class="bi bi-x-circle ms-1"></i>
                            </button>
                        </div>
                        {{/each}}
                    </div>
                    <div class="d-flex mt-2">
                        <input type="text" class="d-none" id="tags-submission" name="tags" />
                        <select id="editor-tags" class="form-control">
                            {{#each tags}}
                            <option value="{{this.id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                        <button type="button" id="add-tag-icon" class="btn btn-sm editor-add-tag">
                            <i class="bi bi-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="mb-2">
                    <label for="editor-time" class="form-label fw-bold">Time</label>
                    <div class="d-flex">
                        <input type="date" class="form-control me-2" id="editor-date" value="2025-01-27" name="date"/>
                        <input type="time" class="form-control" id="editor-time" value="20:00" name="time"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex">
                    <button type="button" class="btn editor-modal-return flex-grow-1 me-2" data-bs-dismiss="modal">
                        Quay về
                    </button>
                    <button type="submit" class="btn editor-modal-send flex-grow-1">
                        Lưu
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        function getAllTagIds() {
            var tagIds = [];
            $('#tag-container .badge p').each(function () {
                var tagId = $(this).attr("data-id");
                tagIds.push(tagId);
            });
            return tagIds;
        }

        function updateTagsSubmission() {
            const allTagIds = getAllTagIds();
            $('#tags-submission').val(allTagIds.join(','));
        }

        // Initialize the hidden input field with existing tags
        updateTagsSubmission();

        // Add tag
        const addTagButton = $('#add-tag-icon');

        addTagButton.on('click', function () {
            const tagValue = $('#editor-tags option:selected').text();
            const tagId = $('#editor-tags').val();

            if (getAllTagIds().includes(tagId))
                return;

            const html = `
                <div
                    class="badge border border-primary text-primary me-2 mb-1 d-flex justify-content-between align-items-center"
                >
                    <p data-id="${tagId}">${tagValue}</p>
                    <button
                        type="button"
                        class="btn btn-sm btn-link text-danger p-0 delete-tag-button"
                    >
                        <i class="bi bi-x-circle ms-1"></i>
                    </button>
                </div>
            `;
            const tagsContainer = $('#tag-container');
            tagsContainer.append(html);

            updateTagsSubmission();
        });

        // Delete tag
        $('#tag-container').on('click', '.delete-tag-button', function () {
            $(this).parent().remove();
            updateTagsSubmission();
        });

        // Ensure tags are updated before form submission
        $('#editor-approve-form').on('submit', function () {
            updateTagsSubmission();
        });
    });
</script>
<script>
    const textarea = document.getElementById('bulletTextarea');

    textarea.addEventListener('keydown', (event) => {
        if (event.key === 'Enter') {
            event.preventDefault();
            const caretPosition = textarea.selectionStart;
            const beforeCaret = textarea.value.slice(0, caretPosition);
            const afterCaret = textarea.value.slice(caretPosition);
            textarea.value = beforeCaret + '\n• ' + afterCaret;
            textarea.selectionStart = textarea.selectionEnd = caretPosition + 3;
        }
    });

    textarea.addEventListener('input', () => {
        const lines = textarea.value.split('\n');
        const formattedLines = lines.map(line => {
            return line.trim() !== '' && !line.startsWith('•') ? `• ${line.trim()}` : line;
        });
        textarea.value = formattedLines.join('\n');
    });
</script>
<script>
    const editorDeclineModal = document.getElementById('editor-decline-modal');
    const editorDeclineButton = document.querySelector('.editor-decline');
    const editorModalSendButton = document.querySelector('.editor-modal-send');
    const bulletTextarea = document.getElementById('bulletTextarea');

    editorDeclineModal.addEventListener('show.bs.modal', function () {
        editorModalSendButton.disabled = true;
    });

    bulletTextarea.addEventListener('input', function () {
        editorModalSendButton.disabled = bulletTextarea.value.trim() === '';
    });
</script>
