<div class="row d-flex justify-content-center">
    <div class="wrapper col col-lg-12 col-md-12 col-sm-12 mt-4">
        <div class="button-view-state">
            <a href="/editor/articles" class="btn actionBtn scale me-3">Bài viết cần duyệt</a>
            <a href="/editor/articles/approved" class="btn actionBtn scale me-3">Bài viết đã duyệt</a>
            <a href="/editor/articles/rejected" class="btn actionBtn scale me-3">Bài viết bị từ chối</a>
        </div>
        <h1 class="editor-title">Bài viết bị từ chối</h1>
        <div class="editor-container mt-4">
            <table id="editorPendingTable" class="display w-100">
                <thead>
                    <tr>
                        <th>Tiêu Đề</th>
                        <th>Tác Giả</th>
                        <th>Ngày Viết</th>
                        <th>Chuyên Mục</th>
                        <th>Chuyên Mục Con</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each this.articles}}
                    <tr>
                        <td>{{this.title}}</td>
                        <td>{{this.author}}</td>
                        <td>{{this.date}}</td>
                        <td>{{this.category}}</td>
                        <td>{{this.subcategory}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>