<div class="modal fade" id="modal_{{id}}" tabindex="-1" aria-labelledby="modalLabel_" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header custom-modal-header">
                <h1 class="modal-title fs-5" style="width:100%; text-align: center;" id="modalLabel_">
                    Chỉnh sửa người dùng
                </h1>
            </div>
            <form method="post">
                <input type="text" value="{{id}}" name="id" style="display: none;">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="emailInput">Email</label>
                        <input type="text" value="{{email}}" class="form-control" name="email" id="emailInput"
                            placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="nameInput">Họ tên</label>
                        <input type="text" value="{{name}}" class="form-control" name="name" id="nameInput"
                            placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="dobInput">Ngày sinh</label>
                        <input value="{{formatDate dateOfBirth 'yyyy-MM-dd'}}" type="date" class="form-control" name="dob" id="dobInput"
                            placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="roleSelect_{{id}}" class="form-label" style="padding-top: 8px; width: 200px;">
                            Vai Trò
                        </label>
                        <select name="role" class="form-select role_selectors" style="height: 40px;" id="roleSelect_{{id}}">
                            <option value="admin" {{#if (eq role 'admin' ) }}selected{{/if}}>
                                Admin
                            </option>
                            <option value="user" {{#if (eq role 'user' ) }}selected{{/if}}>
                                User
                            </option>
                            <option value="writer" {{#if (eq role 'writer' ) }}selected{{/if}}>
                                Writer
                            </option>
                            <option value="editor" {{#if (eq role 'editor' ) }}selected{{/if}}>
                                Editor
                            </option>
                        </select>
                    </div>
                    <div class="form-group d-none">
                        <label for="category_{{id}}" class="form-label" style="padding-top: 8px; width: 200px;">
                            Chuyên mục phụ trách
                        </label>
                        <input type="text" class="form-control" value="" name="category" readonly
                            style="display: none;">
                        </input>
                        <div class="categoryInputResult">
                            <div class="categoryInputItem">abc <span class="categoryInputItemRemove" onclick="">×</span></div>
                        </div>
                        <select class="form-select" style="height: 40px;" id="category_{{id}}">
                            {{#each ../Categories}}
                            {{#each SubCategories}}
                            <option value="{{id}}"> {{name}}</option>
                            {{/each}}
                            {{/each}}
                        </select>
                        <button type="button" id="addBtn_{{id}}" class="btn actionBtn">Add</button>
                    </div>
                </div>
                <div class="modal-footer custom-modal-footer ">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="sumbit" class="btn actionBtn" formaction="/admin/user/edit">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>