<div class="modal fade" id="modal_{{id}}" tabindex="-1" aria-labelledby="modalLabel_" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header custom-modal-header">
                <h1 class="modal-title fs-5" style="width:100%; text-align: center;" id="modalLabel_">
                    Chỉnh sửa người dùng
                </h1>
            </div>
            <form method="post">
                <input type="text" value="{{id}}" name="id" style="display: none;">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="emailInput">Email</label>
                        <input type="text" value="{{email}}" class="form-control" name="email" id="emailInput"
                            placeholder="" readonly> 
                    </div>
                    <div class="form-group">
                        <label for="nameInput">Họ tên</label>
                        <input type="text" value="{{name}}" class="form-control" name="fullname" id="nameInput"
                            placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="dobInput">Ngày sinh</label>
                        <input value="{{formatDate dateOfBirth 'yyyy-MM-dd'}}" type="date" class="form-control" name="dob" id="dobInput"
                            placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="roleSelect_{{id}}" class="form-label" style="padding-top: 8px; width: 200px;">
                            Vai Trò
                        </label>
                        <select name="role" class="form-select" style="height: 40px;" id="roleSelect_{{id}}">
                            <option value="Admin" {{#if (eq role 'Admin' ) }}selected{{/if}}>
                                Admin
                            </option>
                            <option value="User" {{#if (eq role 'User' ) }}selected{{/if}}>
                                User
                            </option>
                            <option value="Writer" {{#if (eq role 'Writer' ) }}selected{{/if}}>
                                Writer
                            </option>
                            <option value="Editor" {{#if (eq role 'Editor' ) }}selected{{/if}}>
                                Editor
                            </option>
                        </select>
                    </div>
                    <div class="form-group" id="penNameGroup_{{id}}">
                        <label for="pen-name_{{id}}">Bút danh</label>
                        <input type="text" class="form-control" name="penName" id="pen-name_{{id}}" placeholder="{{name}}">
                    </div>
                
                    <div class="form-group" id="categoryGroup_{{id}}">
                        <div id="hiddenCategory{{id}}">
                            <label for="hiddenInput{{id}}" class="form-label" style="padding-top: 8px; width: 200px;">
                            Chuyên mục phụ trách
                            </label>
                            {{#each editorCat}}
                                <input type="hidden" class="form-control editorCat_{{../id}}" id="hiddenInput{{id}}"
                                value="{{id}}" name="" readonly>
                                </input>
                            {{/each}}

                        </div>

                        <div class="categoryInputResult" id="categoryResult_{{id}}">
                            {{#each editorCat}}
                            <div class="categoryInputItem" data-value="{{id}}">
                                {{name}}
                                <span class="categoryInputItemRemove" onclick="removeCategoryItem(this)">×</span>
                            </div>
                            {{/each}}
                        </div>
                        <select class="form-select" style="height: 40px;" id="categorySelect_{{id}}">
                            {{#each Categories}}
                            <option value="{{id}}"> {{name}}</option>
                            {{/each}}
                        </select>
                        <button type="button" id="addBtn_{{id}}" class="btn actionBtn">Add</button>
                    </div>
                </div>
                <div class="modal-footer custom-modal-footer ">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn actionBtn" id="submitBtn_{{id}}" formaction="/admin/user/edit">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>